<% include partials/header %>


    <p><%= dog %> looks so cute!</p>
    <% if (dog.toLowerCase() === "rusty"){ %>
        <p>Good choice! <%= dog %> is cute indeed!</p>
    <% } else { %>
        <p>But next time try Rusty!</p>
    <% } %>
