body{
    background: #232323
}
.container{
    max-width: 600px;
    margin: 0 auto;
    /* centers it */
}
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%
}

#stripe{
    background-color: white;
    height: 40px;
}
.selected{
    background-color: blue
}