<% include partials/header %>

    <h1>Hello There!</h1>
    <p>Welcome to landing</p>
    <a href="/campgrounds">View all Campgrounds</a>
    <a href="/campgrounds/new">Add campground</a>

<% include partials/footer %>
